.background-content{
    font-family: 'Zilla Slab', serif;
    font-size: larger;
    word-spacing: 5px;
    font-weight: 200;
    line-height: 35px;
}
.interests{
    list-style: none;
}
.interest-wrap,.interest-inner-wrap{
    display: flex;
    gap: 1rem;
    flex-direction: row;
}
@media (max-width:770px){
    .interest-inner-wrap{
        display: unset;
    }
}